# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# Logs
logs/
*.log

# Audio
recording.wav

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/

# Generated Python Cache
.pytest_cache/

# Coverage
.coverage
htmlcov/